<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"> </meta>
<title>Thymeleaf Welcome Page</title>
</head>
<body>
	<h1>Thymeleaf is Fun</h1>
	<h3>I am learning...</h3>
	<ul>
		<li>Spring Boot</li>
		<li>Spring Boot and Thymeleaf</li>
		<li>Spring Data</li>
	</ul>
	<h2>Register</h2>
	<form action="register" method="post">
		<label>Username: </label>
		<input type="text" name="username"> </input>
		<br></br>
		<label>Email: </label>
		<input type="text" name="email"> </input>
		<br></br>
		<input type="submit" value="Register"></input>
		
	</form>
</body>
</html>